@using kekes.Services
@model IEnumerable<kekes.Data.Models.Section>
@inject IUserPermissionsService UserPermissions

@{
    ViewData["Title"] = "Index";
}

<div class="mainContainer col-9 p-2 border rounded ">
    <div class="d-flex flex-row justify-content-between">
        <div class="h4 pb-2 text-light p-0 m-0">Разделы</div>

        @if (UserPermissions.CanAddSection())
        {
            <p class="p-0 pt-1 m-0">
                <a asp-action="Create" class="p-0 m-0 text-light">Создать раздел</a>
            </p>
        }
    </div>


    <table class="table rounded" id="OrderPopularPosts">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="text-dark">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    @if (UserPermissions.CanAddSection())
                    {
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-dark">Удалить</a>
                        </td>
                    }
                    <td>
                        <p class="m-0 p-0 text-end text-dark">@Html.DisplayFor(modelItem => @item.Posts.Count)</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-1"></div>
<div class="mainContainer col-2 p-2 border rounded d-flex align-self-start flex-md-column">
    <h6 class="text-light text-center w-100">Объявления</h6>
    <div id="newAnnouncements">
        
    </div>
</div>

 <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function a(){
        var counter = 0;
        $.ajax({
            type: 'GET',
            url: '/Announcements/GetAnnouncements',
            success: function (response) {
                $.each(response, function (index, value) {
                    counter++;
                    if(counter <= 3)
                    {
                        $('#newAnnouncements').append('<p id=list'+value.id+'>' + value.title + ' - ' + value.date + '</p>');
                    }
                    
                })
            },
            error: function (error) {
                console.error(error);
            }
        })
    }

    a()
    
</script>

