@using kekes.Services
@model IEnumerable<kekes.Data.Models.Announcement>
@inject IUserPermissionsService UserPermissions;


@{
    ViewData["Title"] = "Index";
}


<div class="mainContainer col-12 p-2 border rounded ">
    <div class="d-flex flex-row justify-content-between">
        <div class="h4 pb-2 text-light p-0 m-0">Объявления</div>
        @if (UserPermissions.CanEditAnnouncement())
        {
            <p class="p-0 pt-1 m-0">
                <a asp-action="Create" class="text-light">Создать объявление</a>
            </p>
        }

    </div>
    <table class="table rounded" id="OrderPopularPosts">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Описание
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td > 
                        <a asp-action="Details" asp-route-id="@item.Id" class="text-dark">@Html.DisplayFor(modelItem => item.Title)</a> 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    @if (UserPermissions.CanEditAnnouncement())
                    {
                        <td class="text-end">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="text-secondary">Редактировать</a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="text-secondary">Детали</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-secondary">Удалить</a>
                        </td>
                    }
                </tr>

            }
        </tbody>
    </table>
</div>
