@model kekes.Data.Models.Post

@{
    ViewData["Title"] = "Delete";
}


<div class="mainContainer col-9 p-2 border rounded ps-3 pe-3 pb-4">
    <h3>Вы действительно хотите удалить этот пост?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                Название
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                Описание
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Text)
            </dd>
            <dt class = "col-sm-2">
                Дата создания
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt class = "col-sm-2">
                Дата последней активности
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.LastActivity)
            </dd>
        </dl>
        
        <form asp-action="Delete" class="d-flex justify-content-between">
            <div>
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btnDeleteAttachment btn btn-danger" /> 
            </div>
            <div class="align-self-end">
                <a asp-action="Details" asp-route-id="@Model.Id" class='text-secondary'>Вернуться к разделам</a>
            </div>     
        </form>
    </div>
</div>
